# Ignore build and debug files
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore logs
Logs/
*.log

# Ignore temporary files
*.tmp
*.temp
*.bak
*.swp

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore other unnecessary files
*.nuget.cache
project.nuget.cache
*.dgspec.json
*.g.props
*.g.targets